.footer{
    color: rgb(180, 170, 170);
    background-color:black;
    padding: 50px;
    
}
.container{
    max-width:1200px;
    padding: 10px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.container a{
    text-decoration:none;
    color: #054241;
 }

 .footer-item{
     line-height: 30px;
     padding: 10px;
     margin: auto;
 }