.slider{
    max-width: 100%;
    min-height: 100vh;
    margin: auto;
    padding:20px;
    padding-top: 100px;
    background-color: #002D2C; 
    display: flex;
    justify-content:center;
    color: rgba(212, 212, 212, 0.815);
    
}
.container{
    max-width: 1200px;
}

.slider h1{
    padding-bottom: 50px;
    font-size: 39px;
    text-align: center;
}

.carousel-container img{
    margin: auto;

}
.carousel-container{
    width: 100%;
    position: relative;
}


.slide-contain{
    display: flex;
    flex-direction: column;
    justify-content:center;
}

@media (max-width: 600px) {
    .carousel-container img {
        width: 100%;
    }
    .carousel-container{
        width: 100%;
    }
  }