.slider{
    max-width: 100%;
    min-height: 100vh;
    margin: auto;
    padding:20px;
    padding-top: 100px;
    background-color: #002D2C; 
    display: flex;
    justify-content:center;
    color: rgba(212, 212, 212, 0.815);

}
.container{
    max-width: 1200px;
}

.slider h1{
    padding-bottom: 50px;
    font-size: 39px;
    text-align: center;
}

.carousel-container{
    width: 100%;
    position: relative;
}

.carousel-container img{
    margin: auto;
    position: relative;
   
}

.carousel-container img:before{
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.616);
    z-index: 0;
}

.carousel-container h3{
    z-index: 4;
}
.slide-contain{
    display: flex;
    flex-direction: column;
    justify-content:center;
}