.slider{
    max-width: 100%;
    min-height: 100vh;
    margin: auto;
    padding:20px;
    padding-top: 100px;
    background-color: #002D2C; 
    display: flex;
    justify-content:center;
    color: rgba(212, 212, 212, 0.815);

}
.container{
    max-width: 1200px;
}

.slider h1{
    padding-bottom: 50px;
    font-size: 39px;
}

.carousel-container{
    width: 100%;
}

.carousel-container img{
    margin: auto;
   
}
.slide-contain{
    display: flex;
    flex-direction: column;
    justify-content:center;
}